---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<h1>Josh Levy</h1>

<img src="/img/levy.jpeg" width=200 alt="Josh Levy with headphones">

<p>I’m CTO and co-founder of <a href="https://digiresilience.org">Center for Digital Resilience (CDR)</a>, a global NGO that facilitates digital security support for communities around the world.</p>

<p>I was a 2017 non-resident fellow at Stanford’s <a href="https://pacscenter.stanford.edu/research/digital-civil-society-lab/">Digital Civil Society Lab</a>. I also hold an MFA in <a href="https://ima-mfa.hunter.cuny.edu/">Integrated Media Arts</a> from Hunter College, City University of New York.</p>

<p>I write and play music. My bands are <a href="https://outroband.com">Outro</a> and <a href="/blog/allfeels">All Feels</a>, and both have records coming out <em>sometime</em> in 2023.</p>

<p>I live in western Massachusetts, USA with my wife and kids and dog.
You can find me on my personal <a rel="me" href="https://spacelase.rs/@josh">Mastodon</a> instance.</p>

<p>I also co-admin the <a rel="me" href="https://mastodon.ngo/@josh">mastodon.ngo</a> instance, a server for non-profits, NGOs, and people working in civil society and human rights.</p>


<!-- {% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Recent Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul> -->
#}
