---
layout: layouts/base.njk
---

<p>Hello, I'm <strong>Josh Levy</strong>. I’m CTO and co-founder of <a href="https://digiresilience.org">Center for Digital Resilience (CDR)</a>, I play music in a couple of bands, and I like to play around on the internet. More <a href=/about">here</a>.</p>

<p>

<p>Poking around? Here are some tags:</p>

<p><a href="/tags/music">Music</a> | <a href="/tags/tech">Tech</a> | <a href="/tags/general">General</a>

<hr>

<!-- Delete this message, it will also remove the component CSS from the bundle -->



{%- css %}{% include "public/css/message-box.css" %}{% endcss %}



</div>
<!-- Stop deleting -->

{{ content | safe }}
